<!DOCTYPE html> 
<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/layout.css" rel="stylesheet">
	<link rel='stylesheet' href='/static/css/styles.css'>
	<link rel='stylesheet' href='/static/css/layout.css'>

</head>
<body class="box" background="/static/css/11.jpeg">
	<div class="container">
	<a href="/" id="home" class="btn btn-link">Home</a>
	<a href="#" id="questions" class="btn btn-link">Users</a>
	%if session.has_key('current_user'):
  						<a href="/logout" style="float:right; margin-top: 40px;">Logout</a> 
					%else:
					<h6>
						<a href="/signup">Signup</a>
					</h6>
					%endif
${self.body()}
</div>
</body>
</html>