<%inherit file="layout.html"/>
<div class="row">
    <hr>
	<ul class="nav nav-list span3">
	<h2> Topics</h2>
    <hr>
    %for topic in topics:
    <li><a href="/comments/create/${topic.key()}"><h4> ${topic.name}</a></li>
    <hr>
    %endfor
    </ul>
    <div class="control-group">
    <div class="controls">
    %if user:
    <a href="/topics/create"> <button type="submit" class="btn btn-primary disabled" style="margin-top:20px;margin-left:600px"> Create Topic</button> </a>
    %endif
    </div>
    <hr>
    </div>
    </div>
