<%inherit file="layout.html"/>
<div class="row">
    <hr>
	<ul class="nav nav-list span3">
	<h2> Topics</h2>
    <hr>
    %for topic in topics:
    <li><a href="/comments/create/${topic.key()}"><h4> ${topic.name}</a></li>
    <hr>
    %endfor
    </ul>
    <div class="control-group">
    <div class="controls">
    %if user:
    <a href="/topics/create"> <button type="submit" class="btn btn-primary disabled" style="margin-top:20px;margin-left:600px"> Create Topic</button> </a>
    %endif
    </div>
    <hr>
    </div>
      <ol id="paginator" style="margin-top:20px;">
        <li class="previous-off" style="margin-left:435px;"> Previous</li>
        <li class="active">1</li>
        <li><a href="page=2">2</a></li>
        <li><a href="page=3">3</a></li>
        <li><a href="page=4">4</a></li>
        <li><a href="page=5">5</a></li>
        <li><a href="page=6">6</a></li>
        <li><a href="page=7">7</a></li>
        <li><a href="page=8">8</a></li>
        <li class="next"><a href="page=2">Next </a></li>
     </ol> 
</div>