<%inherit file="layout.html"/>
<div class="row" style="margin-left:80px;">
	<ul class="nav nav-list span3">
	<h3> select ur topic</h3>
    <li><a href="/comments"> Python</a></li>
    <li><a href="/comments">Hadoop</a></li>
    <li><a href="/comments"> Java</a></li>
    <li><a href="/comments"> FADS</a></li>
    </ul>
    <div class="control-group">
    <div class="controls">
    <a href="/comments"> <button type="submit" class="btn btn-primary disabled" style="margin-top:30px"> create ur own topic</button> </a>
    </div>
    </div>
    </div>