<!DOCTYPE html> 
<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/layout.css" rel="stylesheet">
	<link rel='stylesheet' href='/static/css/styles.css'>

</head>
<body>
	<div class="container">
	<img src="static/css/fads.png" class="image"/>
	<a href="/" id="home" class="btn btn-link">Home</a>
	<a href="#" id="questions" class="btn btn-link">Users</a>
	<a class="btn btn-link" id="home" href="contactus">Contact Us</a>

${self.body()}
</div>


</body>
</html>
