<%inherit file="site_layout.html"/>
  <a href="/logout" style="float:right; margin-top:40px;">Logout</a>
   <form action="/topics/create" method="post">
 <hr>
  <div class="control-group">
   <label class="control-label"> Topic :   
     <input type="text" name="topic" style="margin-left:50px;height:35px; border-color:#FF66FF">
   </label>
  </div>
 <label class="control-label"> Description:
 <textarea name="description" id="comments" style="margin-left:18px;width:400px;height:150px; border-color:#FF66FF"> </textarea>
 <div class="controls">
  <input type="submit" value="Create" class="btn btn-success" style="margin-left:100px"/>
  <a href="/home"><input type="submit" value="Cancel" class="btn btn-danger" style="margin-left:10px"/></a>
 </div>
 <hr>
 </div>
 </form>
 
